.stakeModal .modal-content {
  padding: 30px 0;
}

.stakeModal .modal-header {
  margin: 0 30px;
  border-bottom: 2px solid #e1e4eb;
  padding-bottom: 15px !important;
}

.stakeModal .modal-body {
  margin-right: 10px;
  padding: 15px 10px 30px 30px;
}

.title-panel img {
  width: 35px;
  height: 35px;
  margin-right: 25px;
}

#typeSelect {
  background-position-x: calc(100% - 20px);
}

.lock-amount-panel .input-box {
  position: relative;
}

.lock-amount-panel .input-box .stake-unit {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.min-max-amount-panel {
  border-bottom: 2px solid #e1e4eb;
}

.stakeModal .modal-footer {
  margin: 0 30px;
  padding: 0;
  border: 0;
}

.confirm-btn {
  width: 100%;
}

.confirm-btn:hover {
  color: white;
}

.confirmed-panel img {
  width: 160px;
  height: 160px;
}

@media (max-width: 991.98px) {
  .title-panel {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 575.98px) {
  .modal-dialog {
    margin-right: 20px;
    margin-left: 20px;
  }
}
